@use "@/src/app/mixins" as *;

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  max-width: 515px;
  @include xxxl {
    max-width: 50vw;
  }
  @include tablet {
    max-width: unset;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.photo {
  border-bottom: 1px solid var(--primary-color);
  position: relative;
  display: block;
  height: fit-content;
  @include lg {
    width: 357px;
  }
  @include tablet {
    width: 350px;
  }
}

.dotsImg {
  position: absolute;
  color: var(--secondary-color);
  z-index: 10;
}

.leftDots {
  top: 75%;
  left: 5%;
  @include tablet {
    left: 10%;
  }
  @include mobile {
    left: 0;
  }
}

.rightDots {
  top: 30%;
  right: 1%;
  @include tablet {
    right: 20%;
  }
  @include mobile {
    right: 10%;
  }
}
