.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0px;
}

.line {
  border: 1px solid var(--primary-color);
  width: 35%;
}
