@use "@/src/app/mixins" as *;

.skills {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  @include tablet {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
  @include xxl {
    width: 70%;
  }
  @include xxxl {
    width: 60%;
  }
}

.facts {
  max-width: 705px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;

  @include xxl {
    max-width: unset;
    width: 80%;
  }
}

.fact {
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
  color: var(--secondary-color);
}

.color {
  color: var(--color);
}
