.box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
