@use "@/src/app/mixins" as *;

.skills {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  @include tablet {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
  @include xxl {
    width: 70%;
  }
  @include xxxl {
    width: 60%;
  }
}
