@use "@/src/app/mixins" as *;

.box {
  border: 1px solid var(--secondary-color);
}

.photo {
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.3rem 0.5rem;
  color: var(--secondary-color);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
}

.description {
  color: var(--secondary-color);
}
