@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #282c33;
  --color: #000000;
  --primary-color: #c778dd;
  --secondary-color: #abb2bf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282c33;
    --foreground: #ededed;
    --color: #ffffff;
    --primary-color: #c778dd;
    --secondary-color: #abb2bf;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-code);
}
