@use "@/src/app/mixins" as *;

.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--background-main);
  padding: 0 8%;
  @include mobile {
    padding: 0 5%;
  }
  @include xxl {
    padding: 0 10%;
  }
  @include xxxl {
    padding: 0 12%;
  }
}
