.mainSection,
.sectionTitle {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 10% 0 8%;
}

.mainSection {
  justify-content: space-between;
  align-items: center;
}

.sectionTitle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 515px;
  gap: 1rem;
}

.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 537px;

  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  span,
  p {
    color: var(--primary-color);
  }
}

.container {
  position: relative;
  display: inline-block;
}

.bottomImg {
  display: block;
}

.topTmg {
  position: absolute;
  top: 35%;
  right: -8%;
  z-index: -1;
}

.dotsImg {
  position: absolute;
  bottom: 5%;
  left: -23%;
  width: 150px;
  height: 150px;
  background-color: var(--primary-color);
  mask: url("/dots.svg") no-repeat center / contain;
  -webkit-mask: url("/dots.svg") no-repeat center / contain;
}

.aboutMePhoto {
  border-bottom: 1px solid var(--primary-color);
  padding: 0 1rem;
  display: block;
}

.aboutMeDotsImg {
  position: absolute;
  width: 84px;
  height: 84px;
  background-color: var(--secondary-color);
  mask: url("/dots.svg") no-repeat center / contain;
  -webkit-mask: url("/dots.svg") no-repeat center / contain;
  z-index: 10;
}

.leftDotsTmg {
  bottom: -84%;
  right: 32%;
}

.leftRightTmg {
  bottom: -70%;
  right: 11%;
}
